.contact {
  padding: 80px 20px;
  background: #f9f9f9;
  text-align: center;
  font-family: "Merriweather";
}

.contact-heading{
    font-size: 3rem;
    margin-bottom: 10px;
    color: #ff4e50;
}

.contact-subtitle {
  color: #666;
  margin-bottom: 40px;
}

/* Layout */
.contact-container {
  display: flex;
  justify-content: center;
  gap: 40px;
  flex-wrap: wrap;
}

/* Info */
.contact-info {
  text-align: left;
  font-size: 1rem;
  line-height: 2;
}

/* Form */
.contact-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 300px;
}

.contact-form input,
.contact-form textarea {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
}

.contact-form button {
  padding: 10px;
  border: none;
  background: #ff4e50;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

.contact-form button:hover {
  background: black;
}